
:host {
    --gap: var(--calendar-item-gap, 10px 0);
    --item-size: var(--calendar-item-size, 30px);
    --color-disabled-text: var(--calendar-item-disabled-text, #aaa);
    --color-active-bg: var(--calendar-item-active-bg, #002BE7);
    --color-active-text: var(--calendar-item-active-text, #fff);
    --color-in-range-bg: var(--calendar-item-in-range-bg, #002BE726);
    --color-in-range-text: var(--calendar-item-in-range-text, #002BE7);
    --color-hover-bg: var(--calendar-item-hover-bg, #0000000D);
    --color-hover-text: var(--calendar-item-hover-text, #000);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--gap);
    width: 100%;
    height: 100%;
    justify-content: space-between;
    text-align: center;
}

.week {
    min-width: var(--item-size);
}

.item {
    min-width: var(--item-size);
    line-height: var(--item-size);
    height: var(--item-size);
    position: relative;

    span {
        position: relative;
        z-index: 2;
    }

    &:not(.disabled) {
        cursor: pointer;
    }
    :host([show-other-month]) &.prev.disabled,
    :host([show-other-month]) &.next.disabled,
    &.disabled:not(.prev, .next) {
        cursor: not-allowed;
        color: var(--color-disabled-text);
    }

    &:hover {
        color: var(--color-hover-text);
    }
    &.in-range {
        color: var(--color-in-range-text);
    }

    // for circle
    &:not(.disabled) .highlight {
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--item-size);
        height: var(--item-size);
        transform: translate(-50%, -50%);
    }
    &.start, &.end {
        color: var(--color-active-text);
        & .highlight {
            background-color: var(--color-active-bg);
        }
    }
    &:hover .highlight {
        background-color: var(--color-hover-bg);
    }

    // for period background
    --half-period-bg-w: calc(50% + var(--item-size) / 2);
    &.in-range .bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #002BE726;
    }
    // leftmost column period background
    &:nth-of-type(7n + 1) {
        & .bg {
            border-radius: var(--item-size) 0 0 var(--item-size);
            width: var(--half-period-bg-w);
            left: calc(50% - var(--item-size) / 2);
        }
    }
    // rightmost column period background
    &:nth-of-type(7n) {
        & .bg {
            border-radius: 0 var(--item-size) var(--item-size) 0;
            width: var(--half-period-bg-w);
        }
        &.range-start .bg {
            width: var(--item-size);
            left: calc(50% - var(--item-size) / 2);
        }
    }
    &.range-start .bg {
        border-top-left-radius: var(--item-size);
        border-bottom-left-radius: var(--item-size);

        width: var(--half-period-bg-w);
        left: calc(50% - var(--item-size) / 2);
    }
    &.range-end .bg {
        border-top-right-radius: var(--item-size);
        border-bottom-right-radius: var(--item-size);

        width: var(--half-period-bg-w);
    }
    &.range-start.range-end .bg {
        width: var(--item-size);
    }
    // start point at right column, or end point at left column
    &:nth-of-type(7n).range-start .bg,
    &:nth-of-type(7n + 1).range-end .bg {
        width: var(--item-size);
    }
}
