
:host {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

:host(.show-list) {
    height: 200px;

    .btns {
        display: none;
    }
}

.btns {
    display: flex;
    align-items: center;
}

.btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: 50% / 16px 16px no-repeat;
    --icon-arrow-left: url('@/assets/arrow-left.svg');
    --icon-arrow-left-double: url('@/assets/arrow-left-double.svg');
    --icon-arrow-right: url('@/assets/arrow-right.svg');
    --icon-arrow-right-double: url('@/assets/arrow-right-double.svg');
    background-image: var(--bg-img);
    border-radius: 50%;

    &:hover {
        background-color: #eee;
    }

    :host(:not([show-ctrl-btn-year])) &.year,
    :host(:not([show-ctrl-btn-month])) &.month {
        display: none;
    }

    &.sub {
        --bg-img: var(--icon-arrow-left);

        :host([show-ctrl-btn-month]) &.year {
            --bg-img: var(--icon-arrow-left-double);
        }
    }

    &.add {
        --bg-img: var(--icon-arrow-right);

        :host([show-ctrl-btn-month]) &.year {
            --bg-img: var(--icon-arrow-right-double);
        }
    }
}

dt-yyyymmdd-list-grp {
    width: 100%;

    &::part(col label) {
        display: none;
    }
}

dt-popover {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    // 25px = icon height
    margin: calc((45px - 25px) / 2) 0;
    min-height: 25px;
    padding: 0 10px;
    border-radius: 2px;
    user-select: none;

    &:hover {
        background-color: #eee;
    }
}

.title-arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('@/assets/arrow-down.svg') no-repeat center center;
}

dt-popover[open] .title-arrow {
    transform: rotate(180deg);
}
