@import '../style.scss';

.dt-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    box-shadow: var(--shadow);
    font-family: var(--font-fimily);
    border-radius: var(--radius);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    z-index: var(--z-base);
    font-size: var(--font-size);
    ::-webkit-scrollbar {
        display: none;
    }
}
.dt-date-box {
    display: flex;
    
    flex: 1;
}
.dt-data-body {
    width: 280px;
    & + & {
        margin-left: var(--spacing-size-medium);
    }
}
.dt-content {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-size-medium);
}

.dt-footer {
    display: flex;
    justify-content: end;
}

.dt-button {
    height: 40px;
    padding: 0 var(--spacing-size-medium);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: var(--color-text-primary);
    background-color: var(--color-surface);
    font-family: var(--font-fimily);
    font-size: var(--font-size);
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: var(--shadow-hover);
        transform: scale(1.02); /* 轻微放大 */
    }
    &:active {
        box-shadow: var(--shadow-active);
        transform: scale(0.98); /* 轻微缩小 */
    }
    & + & {
        margin-left: var(--spacing-size-medium);
    }
}
.dt-button-primary {
    background-color: var(--color-text-primary);
    color: var(--color-bg);
}