@import "../style.scss";
// .dt-data-circle {
//     animation: gradient .3s ease-in-out;
// }
// @keyframes gradient {
//     0% {
//         opacity: 1;
//         visibility: visible;
//         transform: scale(1) translateX(0);
//         background: #fff;
//         border-radius: 0;
//         z-index: var(--z-pop);
//         opacity: 0;
//         // transform: scale(0);
//         // border-radius: 200px;
//     }
//     100% {
//         opacity: 1;
//         visibility: visible;
//         transform: scale(1) translateX(100%);
//         background: #fff;
//         border-radius: 0;
//         z-index: var(--z-pop);
//         // transform: scale(1);
//         // border-radius: 0;
//     }
// }
.dt-date-week {
    display: flex;
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
    margin-top: var(--spacing-size-medium);
    & > div {
        flex: 1;
        text-align: center;
    }
}

.dt-date-content {
    display: flex;
    flex-wrap: wrap;
}
.dt-data-item {
    width: 40px;
    height: 40px;
    line-height: 32px;
    cursor: pointer;
    // overflow: hidden;
    position: relative;
    text-align: center;
    padding: var(--spacing-size-small) 0;
    box-sizing: border-box;
    &:hover {
        .dt-data-circle {
            background: var(--color-hover);
            transform: scale(1.2);
            // box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16), 0px 1px 18px rgba(0, 0, 0, 0.23);
            box-shadow: var(--shadow-hover) /* 悬停时增加阴影 */
        }
    }

    // &:hover {
        
    //     transform: scale(1.02); /* 轻微放大 */
    // }
    // &:active {
    //     box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* 按下时阴影更明显 */
    //     transform: scale(0.98); /* 轻微缩小 */
    // }
    &:active {
        .dt-data-circle {
            // transform: scale(1.5);
            box-shadow: var(--shadow-active); /* 按下时阴影更明显 */
            transform: scale(0.98); /* 轻微缩小 */
            // opacity: 0;
        }
        // .dt-data-text {
        //     color: var(--color-text-primary);
        // }
        // .dt-data-rect {
        //     background: transparent;
        // }
    }
}

.dt-data-rect {
    height: 100%;
    
    padding: 0 var(--spacing-size-small);
}
.dt-data-circle {
    // height: 100%;
    // border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    height: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
    width: 32px;
    height: 32px;
    transform: scale(0);
}
.dt-data-text {
    position: relative;
}


.dt-data-item-current {
    .dt-data-circle {
        background: var(--color-primary-light);
        color: var(--color-primary);
        transform: scale(1);
    }
}
.dt-data-item-start {
    &:hover {
        .dt-data-circle {
            background: var(--color-primary);
        }
    }
    .dt-data-circle {
        background: var(--color-primary);
        
        transform: scale(1);
    }
    color: #fff;
    .dt-data-rect {
        background: linear-gradient(to left, var(--color-primary-light) 50%, transparent 50%);
    }
}
.dt-data-item-active {
    &:hover {
        .dt-data-circle {
            background: var(--color-primary);
        }
    }
    .dt-data-circle {
        background: var(--color-primary);
        
        transform: scale(1);
    }
    color: #fff;
}
.dt-data-item-end {
    &:hover {
        .dt-data-circle {
            background: var(--color-primary);
        }
    }
    .dt-data-circle {
        background: var(--color-primary);
        
        transform: scale(1);
    }
    color: #fff;
    .dt-data-rect {
        background: linear-gradient(to right, var(--color-primary-light) 50%, transparent 50%);
    }
}

.dt-data-item-sel {
    .dt-data-rect {
        background: var(--color-primary-light);
        color: var(--color-primary);
    }
}

.dt-data-item-disabled {
    cursor: not-allowed;
    color: var(--color-text-disabled);
    &:hover {
        .dt-data-circle {
            background: transparent;
        }
    }
}


.dt-data-item.dt-data-item-start.dt-data-item-end {
    .dt-data-rect {
        background: transparent;
    }
}