@use '../style.scss';
.dt-month {
    display: flex;
    justify-content: space-between;
}
.dt-month-year-sub {
    width: 16px;
    height: 16px;
    background: url('../assets/arrow-left-double.svg') no-repeat center center;
    cursor: pointer;
}
.dt-month-sub {
    width: 16px;
    height: 16px;
    background: url('../assets/arrow-left.svg') no-repeat center center;
    cursor: pointer;
}
.dt-month-add {
    width: 16px;
    height: 16px;
    background: url('../assets/arrow-right.svg') no-repeat center center;
    cursor: pointer;
}
.dt-month-year-add {
    width: 16px;
    height: 16px;
    background: url('../assets/arrow-right-double.svg') no-repeat center center;
    cursor: pointer;
}
.dt-month-icon {
    width: 16px;
    height: 16px;
    background: url('../assets/arrow-down.svg') no-repeat center center;
    transition: all 0.3s ease-in-out;
}
.dt-month-text {
    display: flex;
    cursor: pointer;
    font-weight: bolder;
    position: relative;
}
.dt-month-sub-box {
    display: flex;
}
.dt-month-add-box {
    display: flex;
}
.dt-month-select {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(#000000, 0.1);
    border-radius: var(--radius);
    background: var(--color-bg);
    width: 160px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16), 0px 1px 18px rgba(0, 0, 0, 0.23);
    height: 254px;
    z-index: var(--z-pop);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    padding: var(--spacing-size);
    font-weight: normal;
}

.dt-month-select-li {
    flex: 1;
    & + & {
        margin-left: 2px;
    }
    overflow: auto;
}
.dt-month-item, .dt-year-item {
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: var(--color-hover);
    }
    & + & {
        margin-top: 2px;
    }
}
.dt-month-item-active {
    background: var(--color-primary-light);
    color: var(--color-primary);
}
.dt-month-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(#fff, 0.3);
    top: 0;
    left: 0;
    z-index: var(--z-mask);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.dt-month-select-show {
    .dt-month-select {
        top: 20px;
        opacity: 1;
        visibility: visible;
    }
    .dt-month-mask {
        opacity: 1;
        visibility: visible;
    }
    .dt-month-icon {
        transform: rotate(180deg);
    }
}
.dt-month-hide-right-m {
    .dt-month-add {
        visibility: hidden;
    }
}
.dt-month-hide-left-m {
    .dt-month-sub {
        visibility: hidden;
    }
}

.dt-year-hide-right-y {
    .dt-month-year-add {
        visibility: hidden;
    }
}
.dt-year-hide-left-y {
    .dt-month-year-sub {
        visibility: hidden;
    }
}


@media screen and (max-width: style.$screen-sm) {
    .dt-month-add-box {
        display: none;
    }
    .dt-month-sub-box {
        display: none;
    }
    .dt-month {
        justify-content: center;
    }
}

