@import '../style.scss';
.dt-quick {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: var(--spacing-size-small);
    background: var(--color-surface);
}
.dt-quick-item {
    height: 32px;
    line-height: 32px;
    margin: var(--spacing-size-small) 0;
    padding: 0 var(--spacing-size-small);
    border-radius: var(--radius);
    transition: all 0.3s ease-in-out;
   
    &:hover {
        // background: var(--color-hover);
        // box-shadow: var(--shadow-hover);
        // transform: scale(1.02); /* 轻微放大 */
    }
    // &:active {
    //     box-shadow: var(--shadow-active);
    //     // transform: scale(0.98); /* 轻微缩小 */
    // }
    cursor: pointer;
    position: relative;
    overflow: hidden; /* 确保波纹不会超出按钮 */
    &::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 80px;
        background: var(--color-hover);
        opacity: 1;
        border-radius: 50%;
        transform: scale(0);
        // transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        pointer-events: none;
        color: var(--color-primary);
        transform-origin: center center;
        top: -26px;
        left: 35px;
      }
    &:hover::after {
        transform: scale(4);
        // 使用动画
        animation: ripple 1.2s ease-out;
    }
    &:active {
        color: var(--color-primary);
    }
}
// 创建一个动画
@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(4);
        opacity: 1;
    }
}
.dt-quick-item-active {
    background: var(--color-primary-light);
    color: var(--color-primary);
    &:hover {
        background: var(--color-primary-light);
        &::after{
            opacity: 0;
            animation: none;
        }
    }

}


.dt-time-zone {
    position: relative;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    margin: var(--spacing-size-small) 0;
    padding: 0 var(--spacing-size-small);
    &:hover {
        background: var(--color-hover);
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius);
}

.dt-time-zone-text {
    font-size: var(--font-size-small);
 
}
.dt-time-zone-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    background: url('../assets/arrow-down.svg') no-repeat center center;
}



.dt-time-zone-select {
    position: absolute;
    bottom: 10px;
    background: #fff;
    width: 160px;
    right: -170px;
    border-radius: var(--radius);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16), 0px 1px 18px rgba(0, 0, 0, 0.23);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    font-weight: normal;
    overflow: auto;
    z-index: var(--z-pop);
    padding: var(--spacing-size-small);
    height: 200px;
}

.dt-time-zone-select-title {
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
    line-height: 24px;
    padding: 0 var(--spacing-size-small);
}
.dt-time-zone-item {
    height: 30px;
    line-height: 30px;
    padding: 0 var(--spacing-size-small);
    border-radius: var(--radius);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: var(--color-hover);
    }
    & + .dt-time-zone-select-title {
        border-top: 1px solid rgba(#000000, 0.1);
    }

    display: flex;
    align-items: center;
    
}
.dt-time-zone-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#fff, 0.3);
    z-index: var(--z-mask);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.dt-time-zone-select-show {
    .dt-time-zone-icon {
        transform: rotate(180deg);
    }

    .dt-time-zone-select {
        opacity: 1;
        visibility: visible;
        bottom: 0;
    }
    &+.dt-time-zone-mask {
        opacity: 1;
        visibility: visible;
    }
    background: var(--color-hover);
}

.dt-time-zone-item-icon {
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-text-primary);
    border-radius: 10px;
    margin-right: var(--spacing-size);
    padding: 2px;
    box-sizing: border-box;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background: var(--color-text-primary);
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }
}
.dt-time-zone-select-active {
    .dt-time-zone-item-icon {
        &::after {
            visibility: visible;
            opacity: 1;
        }
    }
}   