@use 'style.scss';

:root {
    --color-bg: var(--theme-bg-block, #fff); // 背景色
    --color-surface: var(--theme-bg-block-dark, #F5F6F7); // 表面色

    --color-primary: var(--theme-color-primary, #35BBC4); // 主要颜色
    --color-primary-light: var(--theme-bg-primary, #d1eaed); // 主要颜色的亮色

    --color-text-primary: var(--theme-text-color, rgba(51, 51, 51, 1)); // 主要文本颜色
    --color-text-secondary: var( --theme-text-color-secondary, #666); // 次要文本颜色
    --color-text-disabled: var(--theme-text-color-disabled, #aaa); // 禁用文本颜色

    --color-hover: var(--theme-bg-primary, #eee);

    --font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
    --font-size: 14px;
    --font-size-small: 12px;

    --spacing-size-small: 4px;
    --spacing-size: 8px;
    --spacing-size-medium: 16px;

    --radius: 6px;
    --shadow: 0px 6px 10px rgba(0, 0, 0, 0.16), 0px 1px 18px rgba(0, 0, 0, 0.23);
    --shadow-hover:  0px 4px 8px rgba(0, 0, 0, 0.3);
    --shadow-active: 0px 8px 16px rgba(0, 0, 0, 0.4);

    --z-base-mask: #{style.$z-base-mask};
    --z-base: #{style.$z-base};
    --z-pop: #{ style.$z-base + 20 };
    --z-mask: #{ style.$z-base + 10 };
}

.dt-show {
    visibility: visible;
    opacity: 1;
}

.dt-hidden {
    visibility: hidden;
    opacity: 0;
}
